<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>

<head>
    <div th:include="BackEnd/includes/head :: head"></div>
    <meta charset="UTF-8">
    <title>Lung-Hi Peace棄養管理系統</title>
    <link th:href="@{/BackEnd/css/dataTable.css}" rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet">
    <link rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons'>
</head>

<body>

<!-- _navbar -->
<div th:include="BackEnd/includes/navbar :: navbar"></div>
<!-- partial -->
<div class="container-fluid page-body-wrapper">
    <!-- partial:partials/_settings-panel.jsp -->
    <div id="right-sidebar" class="settings-panel">
        <i class="settings-close ti-close"></i>
        <ul class="nav nav-tabs border-top" id="setting-panel" role="tablist">
            <li class="nav-item"><a class="nav-link active" id="todo-tab"
                                    data-bs-toggle="tab" href="#todo-section" role="tab"
                                    aria-controls="todo-section" aria-expanded="true">TO DO LIST</a></li>
            <li class="nav-item"><a class="nav-link" id="chats-tab"
                                    data-bs-toggle="tab" href="#chats-section" role="tab"
                                    aria-controls="chats-section">CHATS</a></li>
        </ul>
    </div>
    <!-- partial -->
    <!-- partial:partials/_sidebar.jsp -->
    <div th:include="BackEnd/includes/sidebar :: sidebar"></div>
    <!-- partial -->
    <!-- 顯示區域從這開始 -->
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row">
                <div class="col-lg grid-margin stretch-card">
                    <div class="card material-table">
                        <div class="table-header">
                            <!-- Table標題 -->

                            <span class="table-title">寵物媒合表單</span>
                            <a th:href="@{'/Backendanimal/down'  }" class="btn btn-sm btn-success">Json<i
                                    class="bi bi-pencil-fill"></i></a>


                            <div class="actions">
                                <!-- 新增 -->

                                <a href="abshowForm" class="modal-trigger waves-effect btn-flat nopadding"><i
                                        class="mdi mdi-plus"></i></a><!-- i標籤是icon -->
                                <!-- 搜尋 -->
                                <a href="#" class="search-toggle waves-effect btn-flat nopadding"><i
                                        class="material-icons">search</i></a>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-hover" id="datatable">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>品種</th>
                                    <th>圖片</th>
                                    <th>帳戶名稱</th>
                                    <th>審核狀態</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="abdog : ${abdogs}">
                                    <td th:text="${abdog.abid}"/>
                                    <td th:text="${abdog.abvariety}"/>
                                    <td><img th:src="@{/image/{id}(id=${abdog.abphonto})}"width="50" ></td>
                                    <td th:text="${abdog.abarea}"/>

                                    <td th:if="${abdog.abaudit} eq '0'" th:text="審核完成">long</td>
                                    <td th:if="${abdog.abaudit} eq '1'" th:text="審核中">long</td>

                                    <td>
                                        <a th:href="@{'/Backendanimal/abupdateForm/' + ${abdog.abid} }" class="btn btn-sm btn-success"><i
                                                class="bi bi-pencil-fill"></i></a>

                                        <button class="btn btn-sm btn-danger"
                                                th:onclick="deleteajax([[${abdog.abid}]])" type="button"
                                                id="deleteajax"><i class="bi bi-trash-fill"></i>
                                        </button>

                                        <!--                                     <a th:href="@{Lung/pass/{id}(id=${abdog.abid})}" class="btn btn-sm btn-success">審核<i-->
                                        <!--                                                class="bi bi-pencil-fill"></i></a>-->

                                        <a th:href="@{'/Backendanimal/pass/' + ${abdog.abid} }" class="btn btn-sm btn-success">審核<i
                                                class="bi bi-pencil-fill"></i></a>



                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <!-- content-wrapper ends -->
            <!-- partial:partials/_footer.jsp -->
            <div th:include="BackEnd/includes/footer :: footer"></div>
            <!-- partial -->
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<!-- 主畫面結束 -->
<!-- container-scroller -->

<!-- Js匯入 -->
<!-- plugins:js -->
<div th:include="BackEnd/includes/JavaScript :: JavaScript"></div>
<!-- End custom js for this page-->

<!-- 寫自己的Js -->
<script>

    function deleteajax(abid) {
        console.log(abid);
        Swal.fire({
            title: '請問是否要刪除寵物表單?',
            text: "已刪除的資料無法復原，請再次確認",
            icon: 'warning',
            showCancelButton: true,
            cancelButtonText: '取消',
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: '刪除'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    type: "get",
                    url: "/Lung/abdelete/" + abid,

                    success: function (msg) {
                        Swal.fire(
                            '已刪除!',
                            '資料已成功刪除!',
                            'success'
                        ).then((result) => {
                            if (result.isConfirmed) {
                                location.reload();
                            }
                        })
                    },
                    error: function (msg) {
                        // console.log(msg.status)
                        Swal.fire({
                            icon: 'error',
                            title: '發生錯誤',
                            text: 'HTTP 狀態碼為 ' + msg.status,
                            footer: '<a href="https://developer.mozilla.org/zh-TW/docs/Web/HTTP/Status"  target="_blank">怎麼有這錯誤?</a>'
                        })
                    }
                });


            }
        })
    }

</script>

</body>
</html>