<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="FrontEnd/includes/head :: head"></div>
    <meta charset="UTF-8">
    <title>Lung-Hi Peace</title>
</head>
<body>
<!-- _navbar -->
<div th:include="FrontEnd/includes/navbar :: navbar"></div>

<!-- Blog Details Section Start -->
<div class="section section-margin">
    <div class="container">
        <div class="row" >
            <!--            <input type="hidden" th:text="${announce.anNo}">-->
            <div class="col-lg-9 m-auto overflow-hidden">
                <!-- Blog Details Wrapper Start -->
                <div class="blog-details-wrapper">
                    <!-- Blog Details Content Start -->
                    <div class="blog-details-content">
                        <!-- Blog Image Start -->
                        <div class="blog-image">
                            <img class="fit-image" th:src="@{/image3/{id}(id=${activities.localFileName})}" alt="Blog Image">
                        </div>
                        <!-- Blog Image End -->
                        <!-- Blog details title & Meta Start -->
                        <div class="blog-details-title-meta">
                            <h2 class="title" th:text="${activities.ac_name}"></h2>
                            <ul class="blog-meta">
                                <li>主辦單位: <span th:text="${activities.ac_organizer}"></span> <span th:text="${activities.ac_date}"></span></li>
                                <!--                                <li><span th:text="${activities.anType}"></span></li>-->
                            </ul>
                        </div>
                        <!-- Blog details title & Meta End -->
                        <!-- Content Start -->
                        <p th:text="${activities.ac_participant}"></p><br>
                        活動日期:<p th:text="${activities.ac_date}"></p><br>
                        活動地點:<p th:text="${activities.ac_venue}"></p><br>
                        活動名額:<p th:text="${activities.ac_quota}"></p><br>
                        候補名額:<p th:text="${activities.ac_waitlist_quota}"></p><br>
                        報名費用:<p th:text="${activities.ac_fee}"></p><br>
                    </div>
                </div>
                <!-- Comments Post Area Start -->
                <div class="comment-post-area">
                    <form action="#">
                        <div class="row">
                            <!-- Submit Button Start -->
                            <div class="col-12 col-custom m-t-20">
                                <button type="submit" class="btn btn-primary btn-hover-dark">立即報名</button>
                                <button type="submit" class="btn btn-info btn-hover-gray-deep">加入收藏</button>
                            </div>
                            <!-- Submit Button End -->

                        </div>
                    </form>
                </div>
                <!-- Comments Post Area End -->

            </div>
        </div>
        </form>
    </div>
</div>
<!-- Breadcrumb Area End -->
<div th:include="BackEnd/includes/footer :: footer"></div>
<div th:include="FrontEnd/includes/JavaScript :: JavaScript"></div>
<!-- Blog Section End -->
</body>
</html>