<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="FrontEnd/includes/head :: head"></div>
    <meta charset="UTF-8">
    <title>Lung-Hi Peace</title>
</head>

<body>
<div th:include="FrontEnd/includes/navbar :: navbar"></div>
<!-- Header Section Start -->

<!-- Header Section End -->

<!-- Breadcrumb Area Start -->
<div class="section breadcrumb-area bg-name-bright">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="breadcrumb-wrapper">
                    <h2 class="breadcrumb-title">活動內容</h2>
                    <ul>
                        <li><a th:href="@{'/Frontendactivity/activities/'}">所有活動</a></li>
                        <li>活動的詳細介紹</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Area End -->

<!-- Blog Details Section Start -->
<div class="section section-margin">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-12">
                <!-- Blog Details Wrapper Start -->
                <div class="blog-details-wrapper">

                    <!-- Blog Details Content Start -->
                    <div class="blog-details-content">

                        <!-- Blog Image Start -->
                        <div class="blog-image">
                            <img class="fit-image" th:src="@{/image3/{id}(id=${activities.localFileName})}" alt="Blog Image">
                        </div>
                        <!-- Blog Image End -->

                        <!-- Blog details title & Meta Start -->
                        <div class="blog-details-title-meta">
                            <h2 class="title" th:text="${activities.ac_name}"></h2>
                            <ul class="blog-meta">
                                <a title="Dribble" href="#/"><i class="fa-solid fa-tower-broadcast"></i></a><li>主辦單位: <span th:text="${activities.ac_organizer}"></span>
                            </ul>
<!--                            <a class="more-link"  th:href="@{${'https://www.google.com/maps/search/?api=1&query='+activities.ac_venue}}">-->
                            <ul class="blog-meta">
                                <i class="fa-solid fa-location-dot"></i><li>活動地點: <span th:text="${activities.ac_venue}"></span></li>
                            </ul>
<!--                            </a>-->
                            <ul class="blog-meta">
                                <i class="fa-solid fa-calendar"></i><li>活動日期: <span th:text="${activities.ac_date}"></span></li>
                            </ul>
                            <ul class="blog-meta">
                                <i class="fa-solid fa-arrow-up-9-1"></i><li>活動名額: <span th:text="${activities.ac_quota}"></span></li>
                            </ul>
                            <ul class="blog-meta">
                                <i class="fa-solid fa-arrow-up-9-1"></i><li>候補名額: <span th:text="${activities.ac_waitlist_quota}"></span></li>
                            </ul>
                            <ul class="blog-meta">
                                <i class="fa-solid fa-barcode"></i><li>報名費用: <span>免費</span></li>
                            </ul>
                        </div>
                        <!-- Blog details title & Meta End -->

                        <!-- Content Start -->
                        <p th:text="${activities.ac_participant}"></p><br>
                        <!-- Blogquote Start -->
<!--                        <blockquote>Es un hecho establecido hace demasiado tiempo que un lector se distraerá con el contenido del texto de un sitio mientras que mira su diseño.</blockquote>-->
                        <!-- Blogquote End -->
<!--                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>-->
                        <!-- Content End -->

                        <!-- Comments Post Area Start -->
                        <div class="comment-post-area">
                            <!--                        <h2 class="blog-desc-title m-b-30 p-t-40">活動報名</h2>-->
                            <form action="#">
                                <div class="row">

                                    <!-- Name Input Start -->
                                    <!--                                <div class="col-md-6 col-custom">-->
                                    <!--                                    <div class="input-item m-b-20">-->
                                    <!--                                        <input class="rounded-0 w-100 input-area name" type="text" placeholder="Name">-->
                                    <!--                                    </div>-->
                                    <!--                                </div>-->
                                    <!-- Name Input End -->

                                    <!-- Email Input Start -->
                                    <!--                                <div class="col-md-6 col-custom">-->
                                    <!--                                    <div class="input-item m-b-20">-->
                                    <!--                                        <input class="rounded-0 w-100 input-area email" type="text" placeholder="Email">-->
                                    <!--                                    </div>-->
                                    <!--                                </div>-->
                                    <!-- Email Input End -->

                                    <!-- Message Input Start -->
                                    <!--                                <div class="col-12 col-custom">-->
                                    <!--                                    <div class="input-item m-b-20">-->
                                    <!--                                        <textarea cols="30" rows="10" name="comment" class="rounded-0 w-100 custom-textarea input-area" placeholder="Message" spellcheck="false" data-gramm="false"></textarea>-->
                                    <!--                                    </div>-->
                                    <!--                                </div>-->
                                    <!-- Message Input End -->

                                    <!-- Submit Button Start -->
                                    <div class="col-12 col-custom m-t-20">
                                        <a type="submit" class="btn btn-primary btn-hover-dark" th:href="@{'/Frontendactivity/CheckOutApply/' + ${activities.ac_id} }">立即報名</a>
                                    </div>
                                    <!-- Submit Button End -->

                                </div>
                            </form>
                        </div>
                        <!-- Comments Post Area End -->

                        <!-- Blog Details Tags & Social Shear Start -->
                        <div class="blog-details-tag-social m-b-n20">

                            <!-- Blog Details Tags Start -->
<!--                            <div class="blog-details-tag m-b-20">-->
<!--                                <ul>-->
<!--                                    <li><a href="#/">Cat</a></li>-->
<!--                                    <li><a href="#/">Dog</a></li>-->
<!--                                    <li><a href="#/">Fish</a></li>-->
<!--                                </ul>-->
<!--                            </div>-->
                            <!-- Blog Details Tags End -->

                            <!-- Social Shear Start -->
<!--                            <div class="social-share m-b-20">-->
<!--                                <div class="widget-social">-->
<!--                                    <span>Share: </span>-->
<!--                                    <a title="Twitter" href="#/"><i class="icon-social-twitter"></i></a>-->
<!--                                    <a title="Instagram" href="#/"><i class="icon-social-instagram"></i></a>-->
<!--                                    <a title="Linkedin" href="#/"><i class="icon-social-linkedin"></i></a>-->
<!--                                    <a title="Skype" href="#/"><i class="icon-social-skype"></i></a>-->
<!--                                    <a title="Dribble" href="#/"><i class="icon-social-dribbble"></i></a>-->
<!--                                </div>-->
<!--                            </div>-->
                            <!-- Social Shear End -->

                        </div>
                        <!-- Blog Details Tags & Social Shear End -->
                    </div>
                    <!-- Blog Details Content End -->


                    <!-- Blog Details Comments area Start -->
                    <div class="blog-details-comment-area m-b-n30">
                        <div class="blog-meta">
                        <h2 class="blog-desc-title m-b-30 m-t-40"><i class="fa-solid fa-map-location-dot"></i>活動地圖</h2>
                        </div>
                        <div class="blog-details-comment-wrapper m-b-30">
                            <iframe
                                    width="600"
                                    height="450"
                                    frameborder="0"
                                    style="border:0"
                                    th:src="@{${'https://www.google.com/maps/embed/v1/place?key=AIzaSyA5kuf6gI3ONaxnR5EbJtk5cb76K2zXeqA&q='+activities.ac_venue}}"
                                    allowfullscreen>
                            </iframe>
                        </div>

<!--                        <div class="blog-details-comment-wrapper m-b-30">-->
<!--                            <div class="thumb">-->
<!--                                <img class="fit-image" src="assets/images/blog/small-size/95x95-2.jpg" alt="Blog Review">-->
<!--                            </div>-->
<!--                            <div class="content">-->
<!--                                <h4 class="title">Alex Due</h4>-->
<!--                                <ul class="meta">-->
<!--                                    <li>27 Oct 2021</li>-->
<!--                                </ul>-->
<!--                                <p>Praesent bibendum risus pellentesque faucibus rhoncus. Etiam a mollis odio. Integer urna nisl, fermentum eu mollis et, gravida eu elit. Excepteur sint occaecat cupidatat.</p>-->
<!--                            </div>-->
<!--                        </div>-->
                    </div>
                    <!-- Blog Details Comments area End -->


                </div>
                <!-- Blog Details Wrapper End -->
            </div>

            <div class="col-lg-3 col-12">
                <!-- Sidebar Widget Start -->
                <aside class="sidebar_widget m-t-50 mt-lg-0">
                    <div class="widget_inner">
                        <form th:action="@{/Frontendactivity/animals}">
                        <div class="widget-list m-b-50">
                            <h3 class="widget-title m-b-30">開始搜尋</h3>
                            <div class="search-box">
                                <!--                <input type="text" class="form-control" placeholder="Search Our Store" aria-label="Search Our Store">-->
                                <!--                <button class="search-icon" type="button">-->
                                <!--                    <i class="icon-magnifier"></i>-->
                                <!--                </button>-->
                                <input type="text"  class="form-control" placeholder="輸入關鍵字" aria-label="Search Our Store" name="keyword" id="keyword" th:value="${keyword}" required >
                                <button class="search-icon" type="submit" value="Search" >
                                    <i class="icon-magnifier"></i>
                                </button>
                            </div>
                        </div>
                        </form>
<!--                        <div class="widget-list m-b-50">-->
<!--                            <h3 class="widget-title m-b-30">Categories</h3>-->
<!--                            <div class="sidebar-body">-->
<!--                                <ul class="sidebar-list">-->
<!--                                    <li><a href="#/">All Product</a></li>-->
<!--                                    <li><a href="#/">Best Seller (5)</a></li>-->
<!--                                    <li><a href="#/">Featured (4)</a></li>-->
<!--                                    <li><a href="#/">New Products (6)</a></li>-->
<!--                                </ul>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="widget-list p-b-50">-->
<!--                            <h3 class="widget-title m-b-30">Archive</h3>-->
<!--                            <div class="sidebar-body sidebar-body-archive">-->
<!--                                <h4 class="title">November 2021</h4>-->
<!--                                <ul class="archive-list d-block">-->
<!--                                    <li><span>&#8608;</span><a href="#">There Are Many Pets...</a></li>-->
<!--                                    <li><span>&#8608;</span><a href="#">The Standard Chunk Of...</a></li>-->
<!--                                    <li><span>&#8608;</span><a href="#">How to Take Care...</a></li>-->
<!--                                </ul>-->
<!--                            </div>-->
<!--                            <div class="sidebar-body sidebar-body-archive m-t-20">-->
<!--                                <h4 class="title">December 2021</h4>-->
<!--                                <ul class="archive-list d-block">-->
<!--                                    <li><span>&#8608;</span><a href="#">There Are Many Pets...</a></li>-->
<!--                                    <li><span>&#8608;</span><a href="#">The Standard Chunk Of...</a></li>-->
<!--                                    <li><span>&#8608;</span><a href="#">How to Take Care...</a></li>-->
<!--                                </ul>-->
<!--                            </div>-->
<!--                        </div>-->
                        <div class="widget-list p-b-50">
                            <h3 class="widget-title m-b-30">推薦活動</h3>
                            <div class="sidebar-body blog-list-wrapper m-b-n30">

                                <!-- Single Blog List Start -->
                                <div class="single-blog-list m-b-30">

                                    <!-- Blog List Thumb Start -->
                                    <div class="blog-thumb">
                                        <a th:href="@{'/Frontendactivity/activitydetails/3'}" class="image">
                                            <img class="fit-image" th:src="@{/BackEnd/images/activity/717帶著毛孩一起FUN幸福.jpg}" alt="Product Image">
                                        </a>
                                    </div>
                                    <!-- Blog List Thumb End -->

                                    <!-- Blog List Content Start -->
                                    <div class="blog-list-content">
                                        <h6 class="blog-name">
                                            <a th:href="@{'/Frontendactivity/activitydetails/3'}" title="How to take care of your fish">家訪志工招募說明會</a>
                                        </h6>
                                        <div class="blog-meta">
                                            <p>2022/08/17</p>
                                        </div>
                                    </div>
                                    <!-- Blog List Content End -->

                                </div>
                                <!-- Single Blog List End -->

                                <!-- Single Blog List Start -->
                                <div class="single-blog-list m-b-30">

                                    <!-- Blog List Thumb Start -->
                                    <div class="blog-thumb">
                                        <a th:href="@{'/Frontendactivity/activitydetails/2'}" class="image">
                                            <img class="fit-image" th:src="@{/BackEnd/images/activity/逗貓貓.jpg}" alt="Product Image">
                                        </a>
                                    </div>
                                    <!-- Blog List Thumb End -->

                                    <!-- Blog List Content Start -->
                                    <div class="blog-list-content">
                                        <h6 class="blog-name">
                                            <a th:href="@{'/Frontendactivity/activitydetails/2'}" title="How to take care of your fish">台中市動物保護志工招募</a>
                                        </h6>
                                        <div class="blog-meta">
                                            <p>2022/08/22</p>
                                        </div>
                                    </div>
                                    <!-- Blog List Content End -->

                                </div>
                                <!-- Single Blog List End -->

                                <!-- Single Blog List Start -->
                                <div class="single-blog-list m-b-30">

                                    <!-- Blog List Thumb Start -->
                                    <div class="blog-thumb">
                                        <a th:href="@{'/Frontendactivity/activitydetails/1'}" class="image">
                                            <img class="fit-image" th:src="@{/BackEnd/images/activity/可愛貓貓.jpg}" alt="Product Image">
                                        </a>
                                    </div>
                                    <!-- Blog List Thumb End -->

                                    <!-- Blog List Content Start -->
                                    <div class="blog-list-content">
                                        <h6 class="blog-name">
                                            <a th:href="@{'/Frontendactivity/activitydetails/1'}" title="How to take care of your fish">717帶著毛孩一起FUN幸福</a>
                                        </h6>
                                        <div class="blog-meta">
                                            <p>2022/08/29</p>
                                        </div>
                                    </div>
                                    <!-- Blog List Content End -->

                                </div>
                                <!-- Single Blog List End -->

                                </div>
                                <!-- Single Blog List End -->

                            </div>
                        </div>
                        <div class="widget-list">
                            <h3 class="widget-title m-b-30">Tags</h3>
                            <div class="sidebar-body">
                                <ul class="tags m-b-n10">
                                    <li><a href="#/">Pet Food</a></li>
                                    <li><a href="#/">Animals</a></li>
                                    <li><a href="#/">Domestic</a></li>
                                    <li><a href="#/">Wild</a></li>
                                    <li><a href="#/">Dogs</a></li>
                                    <li><a href="#/">Cats</a></li>
                                    <li><a href="#/">Hubby</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </aside>
                <!-- Sidebar Widget End -->
            </div>
        </div>
    </div>
</div>
<!-- Blog Details Section End -->

<!-- Footer Section Start -->
<div th:include="FrontEnd/includes/footer0 :: footer"></div>


<!-- Mobile Menu End -->

<!-- Global Vendor, plugins JS -->

<!-- Vendor JS -->

<div th:include="FrontEnd/includes/JavaScript :: JavaScript"></div>

<script src="assets/js/vendor.min.js"></script>
<script src="assets/js/plugins.min.js"></script>

<!--Main JS-->
<script src="assets/js/main.js"></script>


</body>

</html>