<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-twzipcode@1.7.15-rc1/jquery.twzipcode.min.js"></script>
<head>
    <div th:include="BackEnd/includes/head :: head"></div>
    <meta charset="UTF-8">
    <title>LungHi Peace會員管理系統</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet">
<!--    <link th:href="@{/BackEnd/vendors/select2/select2.min.css}" rel="stylesheet" type="text/css">-->
<!--    <link th:href="@{/BackEnd/vendors/select2-bootstrap-theme/select2-bootstrap.min.css}" rel="stylesheet" type="text/css">-->
    <link th:href="@{/BackEnd/css/memberForm.css}" rel="stylesheet" type="text/css">
    <script src="https://kit.fontawesome.com/ae6733f6ec.js" crossorigin="anonymous"></script>
<!--    <script src="https://cdn.jsdelivr.net/npm/tw-city-selector@2.1.1/dist/tw-city-selector.min.js"></script> &lt;!&ndash;測試另一個地址api&ndash;&gt;-->
<!--    <style>-->
<!--        #oneClickBtnDiv {-->
<!--            position: fixed;-->
<!--            z-index: 299;-->
<!--            width: 150px;-->
<!--            height: 150px;-->
<!--            font-size: 36px;-->
<!--            line-height: 60px;-->
<!--            text-align: center;-->
<!--            /*color: rgb(255, 255, 255);*/-->
<!--            inset: auto 10px 10px auto;-->
<!--            cursor: pointer;-->
<!--            /*border-radius: 2px;*/-->
<!--            transform: translateY(0px);-->
<!--            transition: transform 0.3s ease 0s;-->
<!--        }-->
<!--    </style>-->
</head>
<body>
<!-- _navbar -->
<div th:include="BackEnd/includes/navbar :: navbar"></div>
<div id="oneClickBtnDiv">
    <button type="button" id="oneClickEnter" onkeydown="setDistrict()"
            class="btn btn-sm btn-outline-primary"><i
            class="fa-solid fa-check"></i>一鍵輸入
    </button>
</div>
<!-- partial -->
<div class="container-fluid page-body-wrapper">
    <!-- partial:partials/_settings-panel.jsp -->
    <div id="right-sidebar" class="settings-panel">
        <i class="settings-close ti-close"></i>
        <ul class="nav nav-tabs border-top" id="setting-panel" role="tablist">
            <li class="nav-item"><a class="nav-link active" id="todo-tab"
                                    data-bs-toggle="tab" href="#todo-section" role="tab"
                                    aria-controls="todo-section" aria-expanded="true">TO DO LIST</a></li>
            <li class="nav-item"><a class="nav-link" id="chats-tab"
                                    data-bs-toggle="tab" href="#chats-section" role="tab"
                                    aria-controls="chats-section">CHATS</a></li>
        </ul>
    </div>
    <!-- partial -->
    <!-- partial:partials/_sidebar.jsp -->
    <div th:include="BackEnd/includes/sidebar :: sidebar"></div>
    <!-- partial -->
    <!-- 顯示區域從這開始 -->
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row">
                <!-- 上排按鈕 -->
                <div class="d-sm-flex justify-content-between align-items-center  border-bottom">
                    <!-- 拿掉justify-content-between，讓按鈕自動靠左 -->
                    <ul class="nav nav-tabs" role="tablist">
                        <!-- 這邊是空的用來排版 -->
                    </ul>
                    <div>
                        <div class="btn-wrapper">
                            <button type="button" id="backbutton" class="btn btn-sm btn-outline-primary btn-fw"
                                    onclick="cancel()"><i
                                    class="fa-solid fa-circle-arrow-left"></i> 返回
                            </button>
<!--                            <button type="button" id="oneClickEnter" onkeydown="setDistrict()"-->
<!--                                    class="btn btn-sm btn-outline-primary btn-fw"><i-->
<!--                                    class="fa-solid fa-check"></i>一鍵輸入-->
<!--                            </button>-->
                        </div>
                    </div>
                </div>
                <!-- End of 上排按鈕 -->
                <div style="margin:10px 0"></div>
                    <div class="col-md-6 grid-margin stretch-card container">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">新增會員</h4>
                                <form action="#" id="form" class="forms-sample"
                                      th:action="@{/Backendmember/saveMember}"
                                      method="post" th:object="${member}" enctype='multipart/form-data'>
                                    <input type="hidden" th:field="*{miActive}">
                                    <div class="form-group">
                                        <img id="blah"
                                             th:src="@{/BackEnd/images/memberHeadshot/defaultHeadshot.jpg}"
                                             style="display:block;width: 180px; height: 180px; margin:20px auto;border:2px solid #c0c3c4;border-radius:50%;background-color:#ebeff2;"/>
                                        <label>會員大頭貼</label>
                                        <input th:field="*{productImage}" th:id="productImage" type='file' class="form-control"
                                               onchange="previewHeadshot(event)" accept="image/*"/>
                                    </div>
                                    <div class="form-group" >  <!--  sec:authorize="hasRole('ADMIN')" -->
                                        <label>會員權限</label>
                                        <div>
                                            <!-- start--第二版 -->
                                            <span th:each="role : ${allRole}" >
                                                <label class="membertype-label" >
                                                    <input type="checkbox" th:id="'check-role' + ${role}" th:value="${role}" />
                                                    <span th:text="${role}"></span>
                                                </label>
                                            </span>
                                            <input type="hidden" th:field="*{miRole}" th:id="miRole"/>
                                            <!-- end--第二版 -->
                                        <!-- start--第三版 -->
<!--                                        <label class="membertype-label">-->
<!--                                            <input type="checkbox" th:id="check-roleADMIN" th:value="ADMIN" />-->
<!--                                            <span th:text="ADMIN"></span>-->
<!--                                        </label>-->
<!--                                        <label class="membertype-label">-->
<!--                                            <input type="checkbox" th:id="check-roleEMPLOYEE" th:value="EMPLOYEE" />-->
<!--                                            <span th:text="EMPLOYEE"></span>-->
<!--                                        </label>-->
<!--                                        <label class="membertype-label">-->
<!--                                            <input type="checkbox" th:id="check-roleACTIVE" th:value="ACTIVE" />-->
<!--                                            <span th:text="ACTIVE"></span>-->
<!--                                        </label>-->
<!--                                        <label class="membertype-label">-->
<!--                                            <input type="checkbox" th:id="check-roleUSER" th:value="USER" />-->
<!--                                            <span th:text="USER"></span>-->
<!--                                        </label>-->
<!--                                        <input type="hidden" th:field="*{miRole}"/>-->
                                        <!-- end--第三版 -->
                                        </div>
                                        <i class="fas fa-check-circle"></i>
                                        <i class="fas fa-exclamation-circle"></i>
                                        <small id="smallofRole">Error message</small>
                                    </div>
                                    <div class="form-group">
                                        <label>會員帳號</label>
                                        <input th:field="*{miAccount}" type="text" class="form-control"
                                               th:id="miAccount"
                                               autocomplete="off" onblur="onblurCheckAccount()"/>
                                        <i class="fas fa-check-circle"></i>
                                        <i class="fas fa-exclamation-circle"></i>
                                        <small>Error message</small>
                                    </div>
                                    <div class="form-group">
                                        <label>會員密碼</label>
                                        <input th:field="*{miPassword}" type="password" class="form-control"
                                               id="miPassword" autocomplete="off" oninput="oninputCheckPassword()"/>
                                        <i class="fa-solid fa-eye" id="togglePassword"></i>
                                        <i class="fas fa-check-circle"></i>
                                        <i class="fas fa-exclamation-circle"></i>
                                        <small>Error message</small>
                                    </div>
                                    <div class="form-group">
                                        <label>會員姓名</label>
                                        <input th:field="*{miName}" type="text" class="form-control"
                                               th:id="miName"
                                               autocomplete="off" oninput="oninputCheckName()"/>
                                        <i class="fas fa-check-circle"></i>
                                        <i class="fas fa-exclamation-circle"></i>
                                        <small>Error message</small>
                                    </div>
                                    <div class="form-group">
                                        <label>會員性別</label>
                                        <select th:field="*{miGender}" th:id="miGender"
                                                class="js-example-basic-single w-100">
                                            <option value="女">女</option>
                                            <option value="男" selected>男</option>
                                            <option value="不公開">不公開</option>
                                        </select>
                                        <i class="fas fa-check-circle"></i>
                                        <i class="fas fa-exclamation-circle"></i>
                                        <small>Error message</small>
                                    </div>
                                    <div class="form-group">
                                        <label>會員身分證</label>
                                        <input  th:field="*{miId}" type="text" class="form-control" th:id="miId"
                                               maxlength="10" autocomplete="off" oninput="oninputCheckId()"/>
                                        <i class="fas fa-check-circle"></i>
                                        <i class="fas fa-exclamation-circle"></i>
                                        <small>Error message</small>
                                    </div>
                                    <div class="form-group">
                                        <label>會員生日</label>
                                        <input th:field="*{miBirth}" type="date" class="form-control"
                                               th:id="miBirth"
                                               max="3000-12-31" autocomplete="off" maxlength="10" oninput="oninputCheckBirth()"/>
                                        <i class="fas fa-check-circle"></i>
                                        <i class="fas fa-exclamation-circle"></i>
                                        <small>Error message</small>
                                    </div>
                                    <div class="form-group">
                                        <label>會員電話</label>
                                        <input th:field="*{miPhone}" type="text" class="form-control"
                                               th:id="miPhone"
                                               onkeyup="this.value=this.value.replace(/[^0-9]/g,'')"
                                               maxlength="10"
                                               autocomplete="off" oninput="oninputCheckPhone()"/>
                                        <i class="fas fa-check-circle"></i>
                                        <i class="fas fa-exclamation-circle"></i>
                                        <small>Error message</small>
                                    </div>
                                    <div class="form-group">
                                        <label>會員Email</label>
                                        <input th:field="*{miEmail}" type="text" class="form-control"
                                               th:id="miEmail"
                                               autocomplete="off" oninput="oninputCheckEmail()"/>
                                        <i class="fas fa-check-circle"></i>
                                        <i class="fas fa-exclamation-circle"></i>
                                        <small>Error message</small>
                                    </div>
<!--                                    <div class="form-group" >-->
<!--                                        <div>-->
<!--                                            <label>會員地址</label>-->
<!--                                        </div>-->
<!--                                        <div class="js-demeter-tw-zipcode-selector" data-city="#miCity" data-dist="#miDistrict">-->
<!--                                            <select autofocus onchange="onblurCheckAddress()" th:field="*{miCity}" th:id="miCity" placeholder="縣市" ></select>-->
<!--                                            <select autofocus onchange="onblurCheckAddress()" th:field="*{miDistrict}" th:id="miDistrict" placeholder="鄉鎮市區"></select>-->
<!--                                        </div>-->
<!--                                        <div style="margin: 5px 0;">-->
<!--                                            <input autofocus onblur="onblurCheckAddress()"  th:field="*{miAddress}" th:id="miAddress" type="text" placeholder="請輸入詳細地址，例如:街道名稱、門牌號" class="form-control" >-->
<!--                                        </div>-->
<!--                                        <i style="top:76px;" class="fas fa-check-circle"></i>-->
<!--                                        <i style="top:76px;" class="fas fa-exclamation-circle"></i>-->
<!--                                        <small style="top:100px;">Error message</small>-->
<!--                                    </div>-->

                                    <div class="form-group" >
                                        <div>
                                            <label>會員地址</label>
                                        </div>
                                        <div class="js-demeter-tw-zipcode-selector" data-city="#miCity" data-dist="#miDistrict">
                                            <select autofocus onchange="onblurCheckAddress()" th:field="*{miCity}" th:id="miCity" placeholder="縣市" ></select>
                                            <select autofocus onchange="onblurCheckAddress()" th:field="*{miDistrict}" th:id="miDistrict" placeholder="鄉鎮市區"></select>
                                        </div>
                                        <div style="margin: 5px 0;">
                                            <input autofocus onblur="onblurCheckAddress()"  th:field="*{miAddress}" th:id="miAddress" type="text" placeholder="請輸入詳細地址，例如:街道名稱、門牌號" class="form-control" >
                                        </div>
                                        <i style="top:76px;" class="fas fa-check-circle"></i>
                                        <i style="top:76px;" class="fas fa-exclamation-circle"></i>
                                        <small style="top:100px;">Error message</small>
                                    </div>

<!--                                    <div class="city-selector-set my-style-selector">-->
<!--                                        &lt;!&ndash; 縣市選單 &ndash;&gt;-->
<!--                                        <select class="county " data-value="" th:id="newcountry1"></select>-->
<!--                                        &lt;!&ndash; 區域選單 &ndash;&gt;-->
<!--                                        <select class="district " data-value="" th:id="newdistrict1"></select>-->

<!--                                    </div>-->




                                    <div style="margin:20px 0 ;">
                                        <button id="form_button_reset" type="reset" class="btn btn-md btn-outline-primary btn-fw">
                                            <i class="fa-solid fa-eraser"></i>清除輸入
                                        </button>
                                        <button id="form_button_submit" type="submit" class="btn btn-md btn-outline-primary btn-fw">
                                            <i class="fa-solid fa-check"></i>送出
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- partial:partials/_footer.jsp -->
    <div th:include="BackEnd/includes/footer :: footer"></div>
    <!-- 主畫面結束 -->
    <!-- container-scroller -->

    <script th:inline="javascript">
        let allRole = [[${allRole}]];
    </script>

    <!-- Js匯入 -->
    <div th:include="BackEnd/includes/JavaScript :: JavaScript"></div>
    <!-- 引用Zipcode -->
    <script src="https://demeter.5fpro.com/tw/zipcode-selector.js"></script>
<!--    <script type='text/javascript' class="js-demeter-tw-zipcode-selector" data-city="#city" data-dist="#location" /></script>-->
    <script type="text/javascript" th:src="@{/BackEnd/js/memberForm2.js}"></script>
<!--    <script type="text/javascript" th:src="@{/BackEnd/vendors/select2/select2.min.js}"></script>-->
<!--    <script type="text/javascript" th:src="@{/BackEnd/js/select2.js}"></script>-->

<!--    <script>-->
<!--        new TwCitySelector({-->
<!--            el: '.city-selector-set',-->
<!--            elCounty: '.county', // 在 el 裡查找 element-->
<!--            elDistrict: '.district', // 在 el 裡查找 element-->
<!--        });-->
<!--    </script>-->

    <script type="text/javascript">


        // $("#zipcode3").twzipcode({
        //     "zipcodeIntoDistrict": false,
        //     'countySel': '臺北市',
        //     'districtSel': '大安區',
        //     'zipcodeSel': '114',
        //     'readonly': false
        // });

        // document.getElementById('miCity').addEventListener('change', e => {
        //     console.log("change事件");
        // });

        // document.getElementById('check-roleUSER').addEventListener('change', e => {
            // for(let i=0; allRole.length ; i++){
            //     const role = document.querySelector('#check-role'+ allRole[i]);
            //     console.log("role"+ i + role.checked);
            // }
        // });


        function cancel() {
            window.location.href = "./memberlist"
        }

//         function add() {
//             var form = document.getElementById("form").value;
//             var mi_account = document.getElementById("mi_account").value;
//             var mi_password = document.getElementById("mi_password").value;
//             var mi_name = document.getElementById("mi_name").value;
//             var mi_id = document.getElementById("mi_id").value;
//             var mi_birth = document.getElementById("mi_birth").value;
//             var mi_phone = document.getElementById("mi_phone").value;
//             var mi_email = document.getElementById("mi_email").value;
//             var mi_address = document.getElementById("mi_address").value;
// // 		var mi_headshot = document.getElementById("mi_headshot").value;
//             if (mi_account == null || mi_account == '') {
//                 Swal.fire({
//                     icon: 'error',
//                     title: '請輸入帳號！！',
//                 })
//                 return;
//             }
//             if (mi_password == null || mi_password == '') {
//                 Swal.fire({
//                     icon: 'error',
//                     title: '請輸入密碼！！',
//                 })
//                 return;
//             }
//             if (mi_name == null || mi_name == '') {
//                 Swal.fire({
//                     icon: 'error',
//                     title: '請輸入姓名！！',
//                 })
//                 return;
//             }
//             if (mi_id == null || mi_id == '') {
//                 Swal.fire({
//                     icon: 'error',
//                     title: '請輸入身分證字號！！',
//                 })
//                 return;
//             }
//             if (mi_birth == null || mi_birth == '') {
//                 Swal.fire({
//                     icon: 'error',
//                     title: '請輸入生日！！',
//                 })
//                 return;
//             }
//             if (mi_phone == null || mi_phone == '') {
//                 Swal.fire({
//                     icon: 'error',
//                     title: '請輸入電話！！',
//                 })
//                 return;
//             }
//             if (mi_email == null || mi_email == '') {
//                 Swal.fire({
//                     icon: 'error',
//                     title: '請輸入Email！！',
//                 })
//                 return;
//             }
//             if (mi_address == null || mi_address == '') {
//                 Swal.fire({
//                     icon: 'error',
//                     title: '請輸入地址！！',
//                 })
//                 return;
//             }
//
//             Swal.fire({
//                 title: 'Are you sure?',
//                 text: "您將新增一筆訂單",
//                 icon: 'warning',
//                 showCancelButton: true,
//                 confirmButtonColor: '#3085d6',
//                 cancelButtonColor: '#d33',
//                 confirmButtonText: '新增!'
//             }).then((result) => {
//                 if (result.isConfirmed) {
//                     Swal.fire(
//                         '新增成功!',
//                         '您已成功新增一筆訂單',
//                         'success'
//                     )
//                     var timeoutID = window.setTimeout((() => document.getElementById("form").submit()), 1000);
//                 }
//             })
//
//         }
    </script>
</body>
</html>