@charset "UTF-8";

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

/* 會員權限checkbox的label */
.membertype-label {
    padding: 0;
    margin-right: 3px;
    cursor: pointer;
}
/*--------Start會員權限checkbox-------*/
input[type=checkbox] {
    display: none;
}
input[type=checkbox]+span {
    font-size: 15px;
    display: inline-block;
    padding: 6px 8px;
    border: 1px solid ;
    border-radius: 10px;
    color: #474544;
    user-select: none; /* 防止文字被滑鼠選取反白 */
}
input[type=checkbox]:checked+span {
    color: #F2F3EB;
    background-color: #474544;
}
/* ------End會員權限checkbox------- */


/* 隱藏密碼 */
/*.hidetext { -webkit-text-security: disc;}*/



/*------START設定上傳檔案的圖案--------*/
input[type="file"] {
    position: fixed;
    right: 100%;
    bottom: 100%;
}
.custom-file-upload {
    border: 2px solid #ebebeb;
    border-radius: 5px;
    display: inline-block;
    padding: 6px 40px;
    cursor: pointer;
    position: relative; /*設定relative -> 這樣裡面的icon才能調整位置*/
    width: 100%;

    background: #ffffff;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #000000;
    font-size: 18px;
    height: 50px;
    margin-bottom: 20px;
    text-align: center;
    align-items: center;
    font-weight: bold;

}
/*------END設定上傳檔案的圖案--------*/
/*-----START設定上傳大頭貼的icon-----*/
.custom-file-upload i{
    /*visibility: visible;*/  /*不用設定，因為.single-input-item i 這裡設定了*/
    /*position: absolute;*/
    visibility: visible !important;
    top: 8px !important;
    left: -156px;
    font-size: 22px;
}
/*-------END設定上傳大頭貼的icon-----*/

.single-input-item{
    position: relative;
}

/*密碼的eye*/
.single-input-item i.fa-eye{
    cursor: pointer;
    visibility: visible;
    position: absolute;
    top: 38px;
    right: 34px;
}


.single-input-item.error input {
    border-color: #8c1c11;  /*#e74c3c*/
}



.single-input-item i {
    visibility: hidden; /*visible; hidden;*/
    position: absolute;
    top: 38px;
    right: 10px;
}

.single-input-item.success i.fa-check-circle {
    color: #30784e;  /*#2ecc71*/
    visibility: visible;
}

.single-input-item.error i.fa-exclamation-circle {
    color: #8c1c11;  /*#e74c3c*/
    visibility: visible;
}

.single-input-item small {
    display: inline-block;
    color: #8c1c11;  /*#e74c3c*/
    position: absolute;
    left:4px;
    top: 70px;
    /* 	left:0; */
    visibility: hidden; /*visible; hidden;*/
}

.single-input-item.error small {
    visibility: visible;
}



.single-input-item select {
    cursor: pointer;
    padding: 0.335rem 1.375rem;
    font-size: 18px;         /*TODO----改字體大小----*/
    height: 40px;
    font-weight: 400;
    color: #212529;
    background-color: white;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    /*appearance: none;*/ /* 隱藏下拉式鍵頭 */
    border-radius: 4px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.single-input-item select option:hover {
    color: red;
    background-color: white;

}


/* 控制編輯區域的 */
input[type="date"]::-webkit-datetime-edit{
    content: '初始日期';
    /*color: #8E8E8E;*/
    /*font-size: 16px;*/
    padding-left: 28px;
    padding-top: 2px;

    /*     position: relative; */
    /*     left: 2px; */
}


/* 控制生日下拉小箭頭的*/
input[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    display: inline-block;
    width: 24px;
    height: 24px;
    position: absolute;
    left: 10px;
    top: 32px;
}


#form_button_submit{
    /* 	display: inline-block; */
    float:right;
    margin:20px 0;
    border-radius: 10px;
}

#form_button_reset{
    float:left;
    margin:20px 0;
    border-radius: 10px;
}

#form_button_submit:hover {
    background: #474544;
    color: #F2F3EB;
}

#form_button_reset:hover{
    background: #8c1c11; /*#911c10*/
    color: #F2F3EB;
}

/* 設定上排功能按鈕的margin */
.btn-wrapper{
    margin:10px 0;
}
/*一鍵輸入*/
#oneClickEnter{
    border-radius: 10px;
}

#oneClickEnter:hover {
    background: #474544;
    color: #F2F3EB;
}

/*返回鍵*/
#backbutton{
    border-radius: 10px;
}

#backbutton:hover {
    background: #8c1c11; /*#911c10*/
    color: #F2F3EB;
}

/*address的錯誤訊息*/
#smallofAddress{
    top:118px;
}
/*gender的錯誤訊息*/
#smallofGender{
    top: 64px;
}

/*標示這是必填項目的*字號*/
.isEssential{
    color: red;
}


