<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="BackEnd/includes/head :: head"></div>
    <meta charset="UTF-8">
    <title>Lung-Hi Peace公告管理系統</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet">
    <!-- announcementFormCSS -->
    <link href="${pageContext.request.contextPath}/URLToReachResourcesFolder/css/announcementForm.css" rel="stylesheet"/>

</head>
<body>
<!-- _navbar -->
<div th:include="BackEnd/includes/navbar :: navbar"></div>
<!-- partial -->
<div class="container-fluid page-body-wrapper">
    <!-- partial:partials/_settings-panel.jsp -->
    <div id="right-sidebar" class="settings-panel">
        <i class="settings-close ti-close"></i>
        <ul class="nav nav-tabs border-top" id="setting-panel" role="tablist">
            <li class="nav-item"><a class="nav-link active" id="todo-tab"
                                    data-bs-toggle="tab" href="#todo-section" role="tab"
                                    aria-controls="todo-section" aria-expanded="true">TO DO LIST</a></li>
            <li class="nav-item"><a class="nav-link" id="chats-tab"
                                    data-bs-toggle="tab" href="#chats-section" role="tab"
                                    aria-controls="chats-section">CHATS</a></li>
        </ul>
    </div>
    <!-- partial -->
    <!-- partial:partials/_sidebar.jsp -->
    <div th:include="BackEnd/includes/sidebar :: sidebar"></div>
    <!-- partial -->
    <!-- 顯示區域從這開始 -->
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row">
                <div class="col-md-6 grid-margin stretch-card container">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">New Announce</h4>
                            <form action="#" id="form" class="forms-sample" th:action="@{/saveAnnounce}"
                                  method="post"
                                  th:object="${announce}">

                                <div>
                                    <label>公告圖片 </label>
                                    <input type="file" name="image" accept="image/png, image/jpeg" />
                                    <!-- <input type="text" th:field="*{anphoto}" class="form-control" id="anphoto"/>-->
                                </div>
                                <div class="form-group">
                                    <label>公告標題</label>
                                    <input type="text" th:field="*{anTitle}" class="form-control" id="anTitle"/>
                                </div>
                                <div class="form-group">
                                    <label> <span>公告內容</span>
                                        <!--<input type="text" th:field="*{anContent}" class="form-control" id="anContent"/>-->
                                        <textarea th:field="*{anContent}" class="form-control" id="anContent" style="width: 500px; height:100px"></textarea>
                                    </label>
                                </div>


                                <div class="form-group">
                                    <label> <span>公告類型</span>
                                        <select th:field="*{anType}" class="js-example-basic-single w-100 select2-hidden-accessible" id="anType">
                                            <option value="">請選擇</option>
                                            <option value="新聞">新聞</option>
                                            <option value="教育">教育</option>
                                        </select>
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label>編輯者</label>
                                    <select th:field="*{anEditor}" class="js-example-basic-single w-100 select2-hidden-accessible" id="anEditor">
                                        <option value="">請選擇</option>
                                        <option value="亭妤">亭妤</option>
                                        <option value="鴻銘">鴻銘</option>
                                        <option value="毓蓉">毓蓉</option>
                                        <option value="容緯">容緯</option>
                                        <option value="奕成">奕成</option>
                                        <option value="鄭漢">鄭漢</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>公告日期</label>
                                    <input type="date" th:field="*{anDate}" class="form-control" id="anDate" />

                                </div>

                                <button type="button" class="btn btn-warning me-2" onclick="add();">
                                    <i class="bi bi-send"></i>送出
                                </button>
                                <button type="button" class="btn btn-light" onclick="cancel();">取消</button>
                                <button type="button" class="btn btn-light" onclick="quickData();">一鍵輸入</button>
                                <button type="rest" class="btn btn-light">重置</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- partial:partials/_footer.jsp -->
<div th:include="BackEnd/includes/footer :: footer"></div>
<!-- 主畫面結束 -->
<!-- container-scroller -->

<!-- Js匯入 -->
<div th:include="BackEnd/includes/JavaScript :: JavaScript"></div>
<script type="text/javascript">
    function cancel() {
        window.location.href = "./announcelist"
    }

    function add() {
        var form = document.getElementById("form").value;
        var anPhoto = document.getElementById("anPhoto").value;
        var anTitle = document.getElementById("anTitle").value;
        var anContent = document.getElementById("anContent").value;
        var anType = document.getElementById("anType").value;
        var anEditor = document.getElementById("anEditor").value;
        var anDate = document.getElementById("anDate").value;
        if (anPhoto == null || anPhoto == ''){
            Swal.fire({
                icon: 'error',
                title: '請輸入公告圖片！！',
            })
            return;
        }
        if (anTitle == null || anTitle == ''){
            Swal.fire({
                icon: 'error',
                title: '請輸入公告標題！！',
            })
            return;
        }
        if (anContent == null || anContent == '') {
            Swal.fire({
                icon: 'error',
                title: '請輸入公告內容！！',
            })
            return;
        }
        if (anType == null || anType == ''){
            Swal.fire({
                icon: 'error',
                title: '請輸入公告類型！！',
            })
            return;
        }
        if (anEditor == null || anEditor == ''){
            Swal.fire({
                icon: 'error',
                title: '請輸入編輯者！！',
            })
            return;
        }
        if (anDate == null || anDate == ''){
            Swal.fire({
                icon: 'error',
                title: '請輸入日期！！',
            })
            return;
        }

        Swal.fire({
            title: 'Are you sure?',
            text: "您將新增一筆公告",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: '新增!',
            cancelButtonText: '取消!'
        }).then((result) => {
            if (result.isConfirmed) {
                Swal.fire(
                    '新增成功!',
                    '您已成功新增一筆公告',
                    'success'
                )
                var timeoutID = window.setTimeout((() => document.getElementById("form").submit()), 1000);
            }
        })

    }

    function quickData() {
        // 各欄位預設內容
        let titles = [
            '浪犬入侵騷擾遊客頻傳,花蓮婦幼親創園區架驅狗器',
            '終養不棄養',
            '推動大規模犬貓絕育計畫'
        ];
        let contents = [
            '花蓮婦幼親創園區於去底揭牌啟用後，由於鄰近環境多有草叢林木容易有遊蕩犬隻出沒，縣府農業處及社會處合作，在圍牆旁設置了10支驅狗器，避免因為遊蕩犬而導致人犬衝突。',
            '毛孩飼養數已高過嬰兒出生率，不當棄養情形日漸衍生',
            '透過推動大規模犬貓絕育行動，並搭配教育推廣及政策倡議，達到遊蕩犬貓族群控制的效果。台灣之心行動足跡遍布全台，深入到動物醫療資源缺乏的偏區及離島，為的就是解決這些地方的犬貓不斷繁殖生育的問題。'
        ];
        let titleIndex = Math.floor(Math.random() * 3); // 若有新增預設標題及內容, 這裡的數字也要修正成對應的數量
        let types = ['新聞', '教育'];
        let editors = ['亭妤', '鴻銘', '毓蓉', '容緯', '奕成', '鄭漢'];
        let now = new Date();
        let nowYear = now.getFullYear();
        let nowMonth = now.getMonth() + 1 < 10 ? '0' + (now.getMonth() + 1) : now.getMonth() + 1;
        let nowDay = now.getDate() < 10 ? '0' + now.getDate() : now.getDate();
        let today = nowYear + '-' + nowMonth + '-' + nowDay;
        // 各個欄位給值
        document.getElementById('anTitle').value = titles[titleIndex];
        document.getElementById('anContent').value = contents[titleIndex];
        document.getElementById('anType').value = types[Math.floor(Math.random() * 2)];
        document.getElementById('anEditor').value = editors[Math.floor(Math.random() * 6)];
        document.getElementById('anDate').value = today;
    }
</script>
</body>
</html>

