<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="FrontEnd/includes/head :: head"></div>
    <meta charset="UTF-8">
    <title>Lung-Hi Peace</title>
</head>
<body>
<!-- _navbar -->
<div th:include="FrontEnd/includes/navbar :: navbar"></div>
<!--主畫面開始-->
<!-- 商品Title -->
<!-- Breadcrumb Area Start -->
<div class="section breadcrumb-area bg-name-bright">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="breadcrumb-wrapper">
                    <h2 class="breadcrumb-title">Shop Grid</h2>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li>Pet food</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Area End -->

<!-- Shop Section Start -->
<div class="section section-margin">
    <div class="container">
        <div class="row">
            <div class="col-12">

                <!--shop toolbar start-->
                <div class="shop_toolbar_wrapper flex-column flex-md-row p-2 m-b-40 border">

                    <!-- Shop Top Bar Left start -->
                    <div class="shop-top-bar-left">

                        <div class="shop_toolbar_btn">
                            <button data-role="grid_4" type="button" class="active btn-grid-4" title="Grid"><i
                                    class="ti-layout-grid4-alt"></i></button>
                            <button data-role="grid_list" type="button" class="btn-list" title="List"><i
                                    class="ti-align-justify"></i></button>
                        </div>
                        <div class="shop-top-show">
                            <span>Showing 1–12 of 39 results</span>
                        </div>

                    </div>
                    <!-- Shop Top Bar Left end -->

                    <!-- Shopt Top Bar Right Start -->
                    <div class="shop-top-bar-right">

                        <h4 class="title m-r-10">Short By: </h4>

                        <div class="shop-short-by">
                            <select class="nice-select" aria-label=".form-select-sm example">
                                <option selected>Short by Default</option>
                                <option value="1">Short by Popularity</option>
                                <option value="2">Short by Rated</option>
                                <option value="3">Short by Latest</option>
                                <option value="3">Short by Price</option>
                                <option value="3">Short by Price</option>
                            </select>
                        </div>
                    </div>
                    <!-- Shopt Top Bar Right End -->

                </div>
                <!--shop toolbar end-->

                <!-- Shop Wrapper Start -->
                <div class="row shop_wrapper grid_4">

                    <!-- Single Product Start -->
                    <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 product" th:each="product : ${products}">
                        <div class="product-inner">
                            <div class="thumb">
                                <a th:href="@{'/Front/productDetail/' + ${product.id} }" class="image">
                                    <img class="fit-image"
                                         th:src="@{/image4/{id}(id=${product.localfileName})}"
                                         alt="Product"/>
                                </a>
                                <div class="action-wrapper">
                                    <a href="" class="action quickview" data-bs-toggle="modal"
                                       th:attr="data-bs-target= '#addModel' + *{product.id}" title="Quickview"><i
                                            class="ti-plus"></i></a>
                                    <a href="wishlist.html" class="action wishlist" title="Wishlist"><i
                                            class="ti-heart"></i></a>
                                    <a href="cart.html" class="action cart" title="Cart"><i
                                            class="ti-shopping-cart"></i></a>
                                </div>
                            </div>
                            <div class="content">
                                <h5 class="title"><a href="single-product.html">[[${product.pd_product_name}]]</a></h5>
<!--                                <span class="rating">-->
<!--                                            <i class="fa fa-star-o"></i>-->
<!--                                            <i class="fa fa-star-o"></i>-->
<!--                                            <i class="fa fa-star-o"></i>-->
<!--                                            <i class="fa fa-star-o"></i>-->
<!--                                            <i class="fa fa-star-o"></i>-->
<!--                                        </span>-->
                                <span class="price">
                                            $<span class="new">[[${product.pd_amount}]]</span>
                                    </span>
                                <p>[[${product.pd_content}]]</p>
                                <!-- Cart Button Start -->
                                <div class="cart-btn action-btn">
                                    <div class="action-cart-btn-wrapper d-flex">
                                        <div class="add-to_cart">
                                            <a class="btn btn-primary btn-hover-dark rounded-0" href="cart.html">Add to
                                                cart</a>
                                        </div>
                                        <a href="wishlist.html" title="Wishlist" class="action"><i class="ti-heart"></i></a>
                                        <a href="#/" class="action quickview" data-bs-toggle="modal"
                                           data-bs-target="#addModel" title="Quickview"><i class="ti-plus"></i></a>
                                    </div>
                                </div>
                                <!-- Cart Button End -->
                            </div>
                        </div>
                    </div>
                    <!-- Single Product End -->

                </div>
                <!-- Shop Wrapper End -->

                <!--shop toolbar start-->
                <div class="shop_toolbar_wrapper justify-content-center m-t-50">

                    <!-- 商品分頁 -->
                    <div class="shop-top-bar-right">
                        <nav>
                            <ul class="pagination">
                                <li class="page-item"><a class="page-link active" href="#/">1</a></li>
                                <li class="page-item"><a class="page-link" href="#/">2</a></li>
                                <li class="page-item"><a class="page-link" href="#/">3</a></li>
                                <li class="page-item">
                                    <a class="page-link rounded-0" href="#/" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <!-- Shopt Top Bar Right End -->

                </div>
                <!--shop toolbar end-->

            </div>
        </div>
    </div>
</div>
<!-- Shop Section End -->

<!-- Modal Start  -->
<div class="modalquickview modal fade" th:id="*{'addModel'+ {product.id}}" tabindex="-1" aria-labelledby="addModel"
     role="dialog"
     aria-hidden="true" th:each="product : ${products}">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <button class="btn close" data-bs-dismiss="modal">×</button>
            <div class="row">
                <div class="col-md-6 col-12">

                    <!-- Product Details Image Start -->
                    <div class="modal-product-carousel">

                        <!-- Single Product Image Start -->
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <a class="swiper-slide" th:href="@{'/Front/productDetail/' + ${product.id} }">
                                    <img class="w-100" th:src="@{/image4/{id}(id=${product.localfileName})}"
                                         alt="Product">
                                </a>
                            </div>

                            <!-- Swiper Pagination Start -->
                            <!-- <div class="swiper-pagination d-md-none"></div> -->
                            <!-- Swiper Pagination End -->

                            <!-- Next Previous Button Start -->
                            <div class="swiper-product-button-next swiper-button-next"><i class="ti-arrow-right"></i>
                            </div>
                            <div class="swiper-product-button-prev swiper-button-prev"><i class="ti-arrow-left"></i>
                            </div>
                            <!-- Next Previous Button End -->
                        </div>
                        <!-- Single Product Image End -->

                    </div>
                    <!-- Product Details Image End -->

                </div>
                <div class="col-md-6 col-12 overflow-hidden position-relative">

                    <!-- Product Summery Start -->
                    <div class="product-summery position-relative">

                        <!-- Product Head Start -->
                        <div class="product-head m-b-15">
                            <h2 class="product-title">[[${product.pd_product_name}]]</h2>
                        </div>
                        <!-- Product Head End -->

                        <!-- Rating Start -->
<!--                        <link rel="stylesheet" href="css/font-awesome.min.css">-->
<!--                        <script type="text/javascript" src="jquery-360.min.js"></script>-->
<!--                        <script type="text/javascript" src="jquery.rating-stars.js"></script>-->

<!--                        <div class="rating-stars block" id="another-rating">-->
<!--                            <input type="hidden" class="rating-value" name="stars-value" id="stars-value" value="2">-->
<!--                        <span class="rating justify-content-start m-b-10">-->
<!--                            <i class="fa fa-star"></i>-->
<!--                            <i class="fa fa-star"></i>-->
<!--                            <i class="fa fa-star"></i>-->
<!--                            <i class="fa fa-star-half-o"></i>-->
<!--                            <i class="fa fa-star-o"></i>-->
<!--                        </span>-->
                        <!-- Rating End -->

                        <!-- Price Box Start -->
                        <div class="price-box m-b-10">
                            $<span class="regular-price">[[${product.pd_amount}]]</span>
                        </div>
                        <!-- Price Box End -->


                        <!-- Description Start -->
                        <p class="desc-content m-b-25">[[${product.pd_content}]]</p>
                        <!-- Description End -->

                        <!-- Quantity Start -->
                        <div class="quantity d-flex align-items-center justify-content-start m-b-25" id="cart">
                            <span class="m-r-10"><strong>數量: </strong></span>
                            <!--                            <form action="/Lung/Front/addToCart" method="post">-->
                            <input type="hidden" name="id" th:value="${product.id}"/>
                            <div class="cart-plus-minus">
                                <input class="cart-plus-minus-box" value="1" name="qty" id="qty">
                                <div class="dec qtybutton">-</div>
                                <div class="inc qtybutton">+</div>
                            </div>
                            <!-- Cart Button Start -->
                            <div class="cart-btn action-btn m-b-30">
                                <div class="action-cart-btn-wrapper d-flex justify-content-start">
                                    <div class="add-to_cart">
                                        <button class="btn btn-primary btn-hover-dark rounded-0 "
                                                th:onclick="add([[${product.id}]])">
                                            加入購物車
                                        </button>
                                    </div>
                                    <a href="wishlist.html" title="Wishlist" class="action"><i class="ti-heart"></i></a>
                                </div>
                            </div>
                            <!-- Cart Button End -->
                            <!--                            </form>-->
                        </div>
                        <!-- Quantity End -->


                        <!-- Social Shear Start -->
                        <div class="social-share">
                            <div class="widget-social justify-content-center m-b-30">
                                <a title="Twitter" href="#/"><i class="icon-social-twitter"></i></a>
                                <a title="Instagram" href="#/"><i class="icon-social-instagram"></i></a>
                                <a title="Linkedin" href="#/"><i class="icon-social-linkedin"></i></a>
                                <a title="Skype" href="#/"><i class="icon-social-skype"></i></a>
                                <a title="Dribble" href="#/"><i class="icon-social-dribbble"></i></a>
                            </div>
                        </div>
                        <!-- Social Shear End -->

                        <!-- Payment Option Start -->
                        <div class="payment-option m-t-20 d-flex justify-content-start">
                            <span><strong>Payment: </strong></span>
                            <a href="#">
                                <img class="fit-image m-l-5"
                                     th:src="@{/FrontEnd/assets/images/payment/payment_large.png}"
                                     alt="Payment Option Image">
                            </a>
                        </div>
                        <!-- Payment Option End -->

                    </div>
                    <!-- Product Summery End -->

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal End  -->


<!-- Breadcrumb Area End -->
<div th:include="/FrontEnd/includes/footer :: footer"></div>


<!-- Mobile Menu Start -->
<div class="mobile-menu-wrapper">
    <div class="offcanvas-overlay"></div>

    <!-- Mobile Menu Inner Start -->
    <div class="mobile-menu-inner">

        <!-- Button Close Start -->
        <div class="offcanvas-btn-close">
            <i class="fa fa-times"></i>
        </div>
        <!-- Button Close End -->

        <!-- Mobile Menu Inner Wrapper Start -->
        <div class="mobile-menu-inner-wrapper">
            <!-- Mobile Menu Search Box Start -->
            <div class="search-box-offcanvas">
                <form>
                    <input class="search-input-offcanvas" type="text" placeholder="Search product...">
                    <button class="search-btn"><i class="icon-magnifier"></i></button>
                </form>
            </div>
            <!-- Mobile Menu Search Box End -->

            <!-- Mobile Menu Start -->
            <div class="mobile-navigation">
                <nav>
                    <ul class="mobile-menu">
                        <li class="has-children">
                            <a href="#">Home <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown">
                                <li><a href="index.html">Home One</a></li>
                                <li><a href="index-2.html">Home Two</a></li>
                                <li><a href="index-3.html">Home Three</a></li>
                                <li><a href="index-4.html">Home Four</a></li>
                            </ul>
                        </li>
                        <li class="has-children">
                            <a href="#">Shop <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                            <ul class="dropdown">
                                <li><a href="shop.html">Shop Grid</a></li>
                                <li><a href="shop-left-sidebar.html">Shop Left Sidebar</a></li>
                                <li><a href="shop-right-sidebar.html">Shop Right Sidebar</a></li>
                                <li><a href="shop-list-fullwidth.html">Shop List Fullwidth</a></li>
                                <li><a href="shop-list-left-sidebar.html">Shop List Left Sidebar</a></li>
                                <li><a href="shop-list-right-sidebar.html">Shop List Right Sidebar</a></li>
                                <li><a href="wishlist.html">Wishlist</a></li>
                                <li><a href="cart.html">Shopping Cart</a></li>
                                <li><a href="checkout.html">Checkout</a></li>
                                <li><a href="compare.html">Compare</a></li>
                            </ul>
                        </li>
                        <li class="has-children">
                            <a href="#">Product <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                            <ul class="dropdown">
                                <li><a href="single-product.html">Single Product</a></li>
                                <li><a href="single-product-sale.html">Single Product Sale</a></li>
                                <li><a href="single-product-group.html">Single Product Group</a></li>
                                <li><a href="single-product-normal.html">Single Product Normal</a></li>
                                <li><a href="single-product-affiliate.html">Single Product Affiliate</a></li>
                                <li><a href="single-product-slider.html">Single Product Slider</a></li>
                            </ul>
                        </li>
                        <li class="has-children">
                            <a href="#">Pages <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                            <ul class="dropdown">
                                <li><a href="about.html">About Us</a></li>
                                <li><a href="contact.html">Contact</a></li>
                                <li><a href="faq.html">Faq</a></li>
                                <li><a href="error-404.html">Error 404</a></li>
                                <li><a href="my-account.html">My Account</a></li>
                                <li><a href="login.html">Login | Register</a></li>
                            </ul>
                        </li>
                        <li class="has-children">
                            <a href="#">Blog <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                            <ul class="dropdown">
                                <li><a href="blog.html">Blog</a></li>
                                <li><a href="blog-left-sidebar.html">Blog Left Sidebar</a></li>
                                <li><a href="blog-right-sidebar.html">Blog Right Sidebar</a></li>
                                <li><a href="blog-details.html">Blog Details</a></li>
                                <li><a href="blog-details-sidebar.html">Blog Details Sidebar</a></li>
                            </ul>
                        </li>
                        <li><a href="about.html">About</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </nav>
            </div>
            <!-- Mobile Menu End -->

            <!-- Language, Currency & Link Start -->
            <div class="offcanvas-lag-curr m-b-30">
                <div class="header-top-lan-curr-link">
                    <div class="header-top-lan dropdown">
                        <h4 class="title">Language:</h4>
                        <button class="dropdown-toggle" data-bs-toggle="dropdown">English <i
                                class="fa fa-angle-down"></i></button>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a class="dropdown-item" href="#">English</a></li>
                            <li><a class="dropdown-item" href="#">Japanese</a></li>
                            <li><a class="dropdown-item" href="#">Arabic</a></li>
                            <li><a class="dropdown-item" href="#">Romanian</a></li>
                        </ul>
                    </div>
                    <div class="header-top-curr dropdown">
                        <h4 class="title">Currency:</h4>
                        <button class="dropdown-toggle" data-bs-toggle="dropdown">USD <i
                                class="fa fa-angle-down"></i></button>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a class="dropdown-item" href="#">USD</a></li>
                            <li><a class="dropdown-item" href="#">Pound</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Language, Currency & Link End -->

            <!-- Contact Links/Social Links Start -->
            <div class="mt-auto bottom-0">

                <!-- Contact Links Start -->
                <ul class="contact-links">
                    <li><i class="fa fa-phone"></i><a href="#"> +012 3456 789</a></li>
                    <li><i class="fa fa-envelope-o"></i><a href="#"> info@example.com</a></li>
                    <li><i class="fa fa-clock-o"></i> <span>Monday - Sunday 9.00 - 18.00</span></li>
                </ul>
                <!-- Contact Links End -->

                <!-- Social Widget Start -->
                <div class="widget-social">
                    <a title="Facebook" href="#"><i class="fa fa-facebook-f"></i></a>
                    <a title="Twitter" href="#"><i class="fa fa-twitter"></i></a>
                    <a title="Linkedin" href="#"><i class="fa fa-linkedin"></i></a>
                    <a title="Youtube" href="#"><i class="fa fa-youtube"></i></a>
                    <a title="Vimeo" href="#"><i class="fa fa-vimeo"></i></a>
                </div>
                <!-- Social Widget Ende -->
            </div>
            <!-- Contact Links/Social Links End -->
        </div>
        <!-- Mobile Menu Inner Wrapper End -->

    </div>
    <!-- Mobile Menu Inner End -->
</div>
<div th:include="FrontEnd/includes/JavaScript :: JavaScript"></div>

<!-- Blog Section End -->
<script>
    function add(id) {
        Swal.fire({
                icon: 'success',
                title: '成功加入購物車',
                showConfirmButton: false,
                timer: 1500

            },
            fetch('[[@{/Carts/Add}]]' + '?itemId=' + id)
                .then(response => response.json())
        )

    }


</script>
    <script>
        var ratingOptions = {
            selectors: {
                starsSelector: '.rating-stars',
                starSelector: '.rating-star',
                starActiveClass: 'is--active',
                starHoverClass: 'is--hover',
                starNoHoverClass: 'is--no-hover',
                targetFormElementSelector: '.rating-value'
            }
        };

        $(".rating-stars").ratingStars(ratingOptions);
    </script>
</body>
</html>