<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="BackEnd/includes/head :: head"></div>
    <meta charset="UTF-8">
    <title>Lung-Hi Peace訂單管理系統</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet">
</head>
<body>
<!-- _navbar -->
<div th:include="BackEnd/includes/navbar :: navbar"></div>
<!-- partial -->
<div class="container-fluid page-body-wrapper">
    <!-- partial:partials/_settings-panel.jsp -->
    <div id="right-sidebar" class="settings-panel">
        <i class="settings-close ti-close"></i>
        <ul class="nav nav-tabs border-top" id="setting-panel" role="tablist">
            <li class="nav-item"><a class="nav-link active" id="todo-tab"
                                    data-bs-toggle="tab" href="#todo-section" role="tab"
                                    aria-controls="todo-section" aria-expanded="true">TO DO LIST</a></li>
            <li class="nav-item"><a class="nav-link" id="chats-tab"
                                    data-bs-toggle="tab" href="#chats-section" role="tab"
                                    aria-controls="chats-section">CHATS</a></li>
        </ul>
    </div>
    <!-- partial -->
    <!-- partial:partials/_sidebar.jsp -->
    <div th:include="BackEnd/includes/sidebar :: sidebar"></div>
    <!-- partial -->
    <!-- 顯示區域從這開始 -->
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row">
                <div class="col-md-6 grid-margin stretch-card container">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Edit activity</h4>
                            <form action="#" id="form" class="forms-sample" th:action="@{/Backendactivity/saveActivity}" method="post"
                                  enctype="multipart/form-data" th:object="${activity}">
                                <input type="hidden" th:field="*{ac_id}">
                                <div class="form-group">
                                    <label>活動標題</label>
                                    <input type="text" th:field="*{ac_name}" class="form-control" id="ac_name"/>
                                </div>
                                <div class="form-group">
                                    <label>活動照片</label>
                                    <img id="blah" th:src="@{/BackEnd/images/memberHeadshot/defaultHeadshot.jpg}"
                                         style="display:block;width: 50%"/>
                                    <input type="file" name="image" class="form-control" id="localfileName" onchange="previewHeadshot(event)" />
                                </div>
                                <div class="form-group">
                                    <label>活動時間</label>
                                    <input type="date" th:field="*{ac_date}" class="form-control" id="ac_date"/>
                                </div>
                                <div class="form-group">
                                    <label>活動簡介</label>
                                    <textarea type="text" th:field="*{ac_participant}" class="form-control" id="ac_participant" style="width: 450px; height:100px"/>
                                </div>
                                <div class="form-group">
                                    <label>活動地點</label>
                                    <input type="text" th:field="*{ac_venue}" class="form-control" id="ac_venue"/>
                                </div>
                                <div class="form-group">
                                    <label>活動名額</label>
                                    <input type="text" th:field="*{ac_quota}" class="form-control" id="ac_quota" onkeyup="this.value=this.value.replace(/[^0-9]/g,'')"/>
                                </div>
                                <div class="form-group">
                                    <label>候補名額</label>
                                    <input type="text" th:field="*{ac_waitlist_quota}" class="form-control" id="ac_waitlist_quota" onkeyup="this.value=this.value.replace(/[^0-9]/g,'')"/>
                                </div>
<!--                                <div class="form-group">-->
<!--                                    <label>報名費用</label>-->
<!--                                    <input type="text" th:field="*{ac_fee}" class="form-control" id="ac_fee"/>-->
<!--                                </div>-->
                                <div class="form-group">
                                    <label>主辦單位</label>
                                    <input type="text" th:field="*{ac_organizer}" class="form-control" id="ac_organizer"/>
                                </div>
<!--                                <div class="form-group">-->
<!--                                    <label> <span>活動狀態</span>-->
<!--                                        <select th:field="*{getAcaudit}"-->
<!--                                                class="js-example-basic-single w-100 select2-hidden-accessible"-->
<!--                                                id="type">-->
<!--                                            <option value="1">上架中</option>-->
<!--                                            <option value="0">未上架</option>-->
<!--                                        </select>-->
<!--                                    </label>-->
<!--                                </div>-->
                                <button type="button" class="btn btn-warning me-2" onclick="add();"><i
                                        class="bi bi-send"></i>送出
                                </button>
                                <button type="button" class="btn btn-light"><a class="nav-link" th:href="@{/Backendactivity/activitylist}">Cancel</a></button>
<!--                                <button type="button" class="btn btn-light" onclick="cancel();">Cancel</button>-->
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- partial:partials/_footer.jsp -->
<div th:include="BackEnd/includes/footer :: footer"></div>
<!-- 主畫面結束 -->
<!-- container-scroller -->

<!-- Js匯入 -->
<div th:include="BackEnd/includes/JavaScript :: JavaScript"></div>
<script type="text/javascript">

    // 顯示選取的照片
    function previewHeadshot(event) {
        /*
        files = ['src']
        法一:
            const file = files[0] -> file = 'src'
        法二:
            const [file] = files -> file = 'src'
        */
        const [file] = document.getElementById("localfileName").files
        if (file) {
            document.getElementById("blah").src = URL.createObjectURL(file)
        }
    }

    function cancel() {
        window.location.href = "./activitylist"
    }

    function add() {
        var form = document.getElementById("form").value;
        var ac_name = document.getElementById("ac_name").value;
        var localfileName = document.getElementById("localfileName").value;
        var ac_date = document.getElementById("ac_date").value;
        var ac_participant = document.getElementById("ac_participant").value;
        var ac_venue = document.getElementById("ac_venue").value;
        var ac_quota = document.getElementById("ac_quota").value;
        var ac_waitlist_quota = document.getElementById("ac_waitlist_quota").value;
        // var ac_fee = document.getElementById("ac_fee").value;
        var ac_organizer = document.getElementById("ac_organizer").value;
        if (ac_name == null || ac_name == '') {
            Swal.fire({
                icon: 'error',
                title: '請輸入活動標題！！',
            })
            return;
        }
        if (localfileName == null || localfileName == '') {
            Swal.fire({
                icon: 'error',
                title: '請輸入活動照片！！',
            })
            return;
        }
        if (ac_date == null || ac_date == '') {
            Swal.fire({
                icon: 'error',
                title: '請輸入活動時間！！',
            })
            return;
        }
        if (ac_participant == null || ac_participant == '') {
            Swal.fire({
                icon: 'error',
                title: '請輸入參加對象！！',
            })
            return;
        }
        if (ac_venue == null || ac_venue == '') {
            Swal.fire({
                icon: 'error',
                title: '請輸入活動地點！！',
            })
            return;
        }
        if (ac_quota == null || ac_quota == '') {
            Swal.fire({
                icon: 'error',
                title: '請輸入活動名額！！',
            })
            return;
        }
        if (ac_waitlist_quota == null || ac_waitlist_quota == '') {
            Swal.fire({
                icon: 'error',
                title: '請輸入候補名額！！',
            })
            return;
        }
        // if (ac_fee == null || ac_fee == '') {
        //     Swal.fire({
        //         icon: 'error',
        //         title: '請輸入報名費用！！',
        //     })
        //     return;
        // }
        if (ac_organizer == null || ac_organizer == '') {
            Swal.fire({
                icon: 'error',
                title: '請輸入主辦單位！！',
            })
            return;
        }

        Swal.fire({
            title: 'Are you sure?',
            text: "您將新增一筆活動",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: '新增!'
        }).then((result) => {
            if (result.isConfirmed) {
                Swal.fire(
                    '新增成功!',
                    '您已成功新增一筆活動',
                    'success'
                )
                var timeoutID = window.setTimeout((() => document.getElementById("form").submit()), 1000);
            }
        })

    }
</script>
</body>
</html>