<header th:fragment="footer">

    <!-- Footer Section Start -->
    <footer class="section footer-section">
        <!-- Footer Top Start -->
        <div class="footer-top bg-name-bright section-padding">
            <div class="container">
                <div class="row m-b-n40">
                    <div class="col-12 col-sm-6 col-lg-3 m-b-40" data-aos="fade-up" data-aos-duration="1000">
                        <div class="single-footer-widget">
                            <h1 class="widget-title">關於浪孩和平LungHi Peace</h1>
                            <p class="desc-content">浪孩和平LungHi Peace的宗旨是建立一個認養與送養的媒合平台，搭配志工活動，方便愛心人士參與公益，且提供商城系統，結合購買與公益行為。</p>
                            <p class="desc-content">結合購買與公益行為，其全部收入作為公益之用</p>
                            <!-- Soclial Link Start -->
<!--                            <div class="widget-social justify-content-start m-b-n10">-->
<!--                                <a title="Twitter" href="#/"><i class="icon-social-twitter"></i></a>-->
<!--                                <a title="Instagram" href="#/"><i class="icon-social-instagram"></i></a>-->
<!--                                <a title="Linkedin" href="#/"><i class="icon-social-linkedin"></i></a>-->
<!--                                <a title="Skype" href="#/"><i class="icon-social-skype"></i></a>-->
<!--                                <a title="Dribble" href="#/"><i class="icon-social-dribbble"></i></a>-->
<!--                            </div>-->
                            <!-- Social Link End -->
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-3 m-b-40" data-aos="fade-up" data-aos-duration="1200">
                        <div class="single-footer-widget">
                            <h2 class="widget-title">常用連結</h2>
                            <ul class="widget-list">
                                <li><a href="wishlist.html">幫助和聯繫</a></li>
                                <li><a href="contact.html">退貨和退款</a></li>
                                <li><a href="contact.html">網上商店系統</a></li>
                                <li><a href="contact.html">合約條款</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-3 m-b-40" data-aos="fade-up" data-aos-duration="1400">
                        <div class="single-footer-widget">
                            <h2 class="widget-title">聯絡我們</h2>
                            <ul class="widget-list">
<!--                                    <li><a href="https://lin.ee/6g1SwUj"><img-->
<!--                                            th:src="@{/FrontEnd/assets/images/chatbot/chatbot.jpg}" alt="官方Line帳號"/></a></li>-->
<!--                                    <li><a href="https://lin.ee/6g1SwUj"><img-->
<!--                                            src="https://scdn.line-apps.com/n/line_add_friends/btn/zh-Hant.png" alt="加入好友" height="36" border="0"></a></li>-->
                                <li><a href="wishlist.html">願望清單</a></li>
                                <li><a href="contact.html">定價計劃</a></li>
                                <li><a href="contact.html">訂單狀態追蹤</a></li>
                                <li><a href="contact.html">退貨</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-3 m-b-40" data-aos="fade-up" data-aos-duration="1600">
                        <div class="single-footer-widget">
                            <h2 class="widget-title">發送通訊</h2>
                            <div class="widget-body">
<!--                                <p class="desc-content m-b-5">結合購買與公益行為，其全部收入作為公益之用</p>-->
                                <!-- Newsletter Form Start -->
                                <div class="newsletter-form-wrap p-t-5">
                                   <a href="https://lin.ee/6g1SwUj"><img
                                            src="https://scdn.line-apps.com/n/line_add_friends/btn/zh-Hant.png" alt="加入好友" height="36" border="0"></a>
                                    <form id="mc-form" class="mc-form m-t-15">
                                        <input type="email" id="mc-email" class="form-control email-box"
                                               placeholder="Lunghipeace0302@gmail.com" name="EMAIL">
                                        <button id="mc-submit" class="newsletter-btn" type="submit">寄信</button>
                                    </form>
                                    <!-- mailchimp-alerts Start -->
                                    <div class="mailchimp-alerts text-centre">
                                        <div class="mailchimp-submitting"></div><!-- mailchimp-submitting end -->
                                        <div class="mailchimp-success text-success"></div><!-- mailchimp-success end -->
                                        <div class="mailchimp-error text-danger"></div><!-- mailchimp-error end -->
                                    </div>
                                    <!-- mailchimp-alerts end -->
                                </div>
                                <!-- Newsletter Form End -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer Top End -->


        <!-- Footer Bottom End -->
    </footer>
    <!-- Footer Section End -->
</header>
