<header th:fragment="JavaScript">
    <script th:src="@{/FrontEnd/assets/js/vendor.min.js}"></script>
    <script th:src="@{/FrontEnd/assets/js/plugins.min.js}"></script>
    <script th:src="@{/FrontEnd/assets/js/main.js}"></script>
    <script th:src="@{/FrontEnd/assets/js/forAllPage.js}"></script>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <!-- dataTable -->
    <script src="//cdn.datatables.net/1.12.0/js/jquery.dataTables.min.js"></script>
    <!-- SweetAlert2 -->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- 	dataTable.js -->


    <!-- 所有頁面取得user資訊 -->
<!--    <script type="text/javascript" th:src="@{/FrontEnd/assets/js/userajaxFrontend.js}"></script>-->

    <script>
        fetch('[[@{/Carts}]]')
            .then(response => response.json())
            .then(function (cart) {
                let i = 0;
                Object.values(cart.cart).forEach(val => {
                    console.log(i)
                    i++;
                });
                $('.cartCount').text(i);
            });


    </script>

</header>
