@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700');

body {
	font-family: 'Roboto Condensed', sans-serif;
	color: #262626;
}

.container {
	margin-right: auto;
	margin-left: auto;
}

@media ( min-width : 1200px) {
	.container {
		max-width: 1140px;
	}
}

.d-flex {
	background: #f6f6f6;
}

form {
	flex: 4;
}

.title {
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0, #c0cfd3),
		color-stop(100, #c0cfd3));
	background: -moz-linear-gradient(top left, #c0cfd3 0%, #3e4c4e 100%);
	background: -ms-linear-gradient(top left, #c0cfd3 0%, #3e4c4e 100%);
	background: -o-linear-gradient(top left, #c0cfd3 0%, #3e4c4e 100%);
	background: linear-gradient(to bottom right, #c0cfd3 0%, #3e4c4e 100%);
	border-radius: 5px 5px 0 0;
	padding: 20px;
	color: #f6f6f6;
}

h2 {
	margin: 0;
	padding-left: 15px;
}

.required {
	color: red;
}

label, table {
	display: block;
	margin: 15px;
}

label>span {
	float: left;
	width: 25%;
	margin-top: 12px;
	padding-right: 10px;
}

input[type="text"], input[type="tel"], input[type="email"], select {
	width: 70%;
	height: 30px;
	padding: 5px 10px;
	margin-bottom: 10px;
	border: 1px solid #dadada;
	color: #888;
}

select {
	width: 72%;
	height: 45px;
	padding: 5px 10px;
	margin-bottom: 10px;
}

.Yorder {
	margin-top: 15px;
	height: 600px;
	padding: 20px;
	border: 1px solid #dadada;
}

table {
	margin: 0;
	padding: 0;
}

th {
	border-bottom: 1px solid #dadada;
	padding: 10px 0;
}

tr>td:nth-child(1) {
	text-align: left;
	color: #2d2d2a;
}

tr>td:nth-child(2) {
	text-align: right;
	color: #52ad9c;
}

td {
	border-bottom: 1px solid #dadada;
	padding: 25px 25px 25px 0;
}

p {
	display: block;
	color: #888;
	margin: 0;
	padding-left: 25px;
}

.Yorder>div {
	padding: 15px 0;
}

button {
	width: 100%;
	margin-top: 10px;
	padding: 10px;
	border: none;
	border-radius: 30px;
	background: #fff;
	color: #52ad9c;
	font-size: 15px;
	font-weight: bold;
}

button:hover {
	cursor: pointer;
	background: #428a7d;
}