
body {
    --color-primary: #009579;
    --color-primary-dark: #007f67;
    --color-secondary: #252c6a;
    --color-error: #cc3333;
    --color-success: #4bb544;
    --border-radius: 4px;
}

.single-input-item{
    position: relative;
}

.form__message {
    text-align: center;
    margin-bottom: 1rem;
}
.form__message--error {
    color: var(--color-error);
}

/*密碼的eye*/
.single-input-item i.fa-eye{
    visibility: visible;
    position: absolute;
    top: 14px;
    right: 16px;
    /*color: #ffc107;*/
}

.form_pic{
    /*margin-bottom: 10px;*/
    display:block;
    margin: auto;
    width:40%;
    height:40%;
}

.loginbtn{
    /*justify-content: center;!*水平置中*!*/
    /*align-items: center;*/
}


