@charset "UTF-8";

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);


/*密碼的eye*/
.form-group i.fa-eye{
	visibility: visible;
	position: absolute;
	top: 38px;
	right: 34px;
}


.form-group.error input {
	border-color: #8c1c11;  /*#e74c3c*/
}

.form-group{
	position: relative;
}

.form-group i {
	visibility: hidden; /*visible;*/
	position: absolute;
	top: 38px;
	right: 10px;
}

.form-group.success i.fa-check-circle {
	color: #30784e;  /*#2ecc71*/
	visibility: visible;
}

.form-group.error i.fa-exclamation-circle {
	color: #8c1c11;  /*#e74c3c*/
	visibility: visible;
}

.form-group small {
	display: inline-block;
	color: #8c1c11;  /*#e74c3c*/
	position: absolute;
	left:4px;
	top: 62px;
/* 	left:0; */
	visibility: hidden;
}

.form-group.error small {
	visibility: visible;
}



.form-group select {
	padding: 0.335rem 1.375rem;
	font-size: 0.835rem;
	font-weight: 400;
	color: #212529;
	background-color: white;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	/*appearance: none;*/ /* 隱藏下拉式鍵頭 */
	border-radius: 4px;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-group select option:hover {
	color: red;
	background-color: white;

}


/* 控制編輯區域的 */
input[type="date"]::-webkit-datetime-edit{
    content: '初始日期';
    /*color: #8E8E8E;*/
    /*font-size: 16px;*/
    padding-left: 28px;
    padding-top: 2px;

/*     position: relative; */
/*     left: 2px; */
}


/* 控制生日下拉小箭頭的*/
input[type="date"]::-webkit-calendar-picker-indicator {
    display: inline-block;
    width: 24px;
    height: 24px;
    position: absolute;
    left: 10px;
    top: 32px;
}


#form_button_submit{
/* 	display: inline-block; */
	float:right;
	margin:20px 0;
	border-radius: 10px;
}

#form_button_reset{
	float:left;
	margin:20px 0;
	border-radius: 10px;
}

#form_button_submit:hover {
	background: #474544;
	color: #F2F3EB;
}

#form_button_reset:hover{
	background: #8c1c11; /*#911c10*/
	color: #F2F3EB;
}

/* 設定上台按鈕的margin */
.btn-wrapper{
	margin:10px 0;
}

#oneClickEnter{
	border-radius: 10px;
}

#oneClickEnter:hover {
	background: #474544;
	color: #F2F3EB;
}

#backbutton{
	border-radius: 10px;
}

#backbutton:hover {
	background: #8c1c11; /*#911c10*/
	color: #F2F3EB;
}


