<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="BackEnd/images/favicon.ico" />
    <link rel='stylesheet' href='BackEnd/css/login.css'  type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>LungHi Peace後台登入系統</title>
</head>
<body>
<div class="container">
    <form action="LungIndex.controller" class="form" id="login" method="post">
        <img class="form_pic" src="BackEnd/images/login.png" alt="" width="60%" height="60%">
        <h1 class="form__title">Login</h1>
        <div class="form__message form__message--error"><span id = "warnMessage">${errors.msg}</span></div>
        <div class="form__input-group">
            <div class="form__message form__message--error"><span id = "warnMessage">${errors.name}</span></div>
            <input type="text" class="form__input" autofocus placeholder="Username" name="loginAccount" autocomplete="off">
            <div class="form__input-error-message"></div>
        </div>
        <div class="form__input-group">
            <div class="form__message form__message--error"><span id = "warnMessage">${errors.pwd}</span></div>
            <input type="password" class="form__input" autofocus placeholder="Password" name="loginPassword">
            <div class="form__input-error-message"></div>
        </div>
        <button class="form__button" type="submit" value="login">登入</button>

    </form>
</div>
<%--<script src="BackEnd/js/login.js"></script> --%>
</body>
</html>