<header th:fragment="head">
    <!-- plugins:css -->
    <link rel="stylesheet" th:href="@{/BackEnd/vendors/feather/feather.css}">
    <link rel="stylesheet" th:href="@{/BackEnd/vendors/mdi/css/materialdesignicons.min.css}">
    <link rel="stylesheet" th:href="@{/BackEnd/vendors/ti-icons/css/themify-icons.css}">
    <link rel="stylesheet" th:href="@{/BackEnd/vendors/typicons/typicons.css}">
    <link rel="stylesheet" th:href="@{/BackEnd/vendors/simple-line-icons/css/simple-line-icons.css}">
    <link rel="stylesheet" th:href="@{/BackEnd/vendors/css/vendor.bundle.base.css}">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" th:href="@{/BackEnd/js/select.dataTables.min.css}">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" th:href="@{/BackEnd/css/vertical-layout-light/style.css}">
    <!-- endinject -->
    <link rel="shortcut icon" th:href="@{/BackEnd/images/favicon.ico}"/>
</header>